2023/harmonics.tex
2023/filters.tex
2023/ztransform.tex
2023/systems.tex
2023/sequences.tex
2023/sampling.tex
2023/contour.tex
2023/laplace.tex
2023/fourier.tex
/main.*
!/main.tex
/texput.log
/styles/pycompile.log
/styles/authors.txt

